<header class="sticky top-0" id="navbar-marketing">
   <nav class="flex container mx-auto min-h-16 justify-between items-center">
      <!-- Left side -->
      <div class="flex space-x-2">
         <span class="text-xl font-semibold">Logo</span>
      </div>

      <!-- Right side -->
      <div class="flex items-center lg:space-x-8">
         <div
            class="nav-links justify-center items-center lg:static absolute lg:min-h-fit left-0 top-[-300%] lg:w-auto w-full flex lg:items-center lg:flex-row flex-col lg:gap-8 gap-4 bg-background lg:bg-transparent p-4 lg:p-0 transition-all duration-500 ease-in-out"
         >
            <div
               class="container flex lg:flex-row flex-col lg:items-center lg:space-x-2 space-y-8 lg:space-y-0 w-full lg:w-auto"
            >
               <a href="{{url_for('marketing.homepage')}}">
                  <button
                     class="lg:hover:bg-secondary lg:px-4 lg:py-2 lg:rounded-full transition duration-300 {% if request.path == url_for('marketing.homepage') %} lg:bg-secondary font-semibold lg:px-4 lg:py-2 lg:rounded-full {% endif %}"
                  >
                     Home
                  </button>
               </a>
               <a href="{{url_for('marketing.about')}}">
                  <button
                     class="lg:hover:bg-secondary lg:px-4 lg:py-2 lg:rounded-full transition duration-300 {% if request.path == url_for('marketing.about') %} lg:bg-secondary font-semibold lg:px-4 lg:py-2 lg:rounded-full {% endif %}"
                  >
                     About
                  </button>
               </a>
               <a href="{{url_for('marketing.contact')}}">
                  <button
                     class="lg:hover:bg-secondary lg:px-4 lg:py-2 lg:rounded-full transition duration-300 {% if request.path == url_for('marketing.contact') %} lg:bg-secondary font-semibold lg:px-4 lg:py-2 lg:rounded-full {% endif %}"
                  >
                     Contact
                  </button>
               </a>
            </div>
         </div>
         <div class="flex items-center h-full">
            {% if user.is_authenticated %}
               <a href="{{url_for('platform.index')}}" class="primary-button text-sm">Dashboard</a> 
            {% else %}
               <a href="{{url_for('auth.login')}}" class="primary-button text-sm">Sign In</a>  
            {% endif %}
            <button onclick="onToggleMenu(this)" class="lg:hidden ml-4 focus:outline-none">
               <img
                  id="mode-toggle"
                  src="{{url_for('static', filename='icons/menu.svg')}}"
                  alt="Menu icon"
                  class="h-6 w-6"
               />
            </button>
         </div>
      </div>
   </nav>
</header>

<script>
   const navLinks = document.querySelector(".nav-links");
   function onToggleMenu(button) {
      button.classList.toggle("open");
      navLinks.classList.toggle("top-[100%]");
      const menuIcon = button.querySelector("#mode-toggle");
      if (button.classList.contains("open")) {
         setTimeout(() => {
            menuIcon.src = "{{url_for('static', filename='icons/x.svg')}}";
         }, 250);
      } else {
         setTimeout(() => {
            menuIcon.src = "{{url_for('static', filename='icons/menu.svg')}}";
         }, 100);
      }
   }

   window.addEventListener("scroll", function () {
      var navbar = document.getElementById("navbar-marketing");
      if (window.scrollY > 50) {
         navbar.classList.add("backdrop-blur", "border-b");
      } else {
         navbar.classList.remove("backdrop-blur", "border-b");
      }
   });
</script>
