<header class="sticky top-0 shadow-sm border-b bg-white">
   <nav class="container mx-auto min-h-16 flex items-center justify-between">
      <!-- Left side -->
      <div class="flex items-center lg:gap-x-8 gap-x-0">
         <!-- Logo -->
         <div class="lg:inline hidden">
            <a href="{{ url_for('platform.dashboard') }}" class="text-xl font-bold">Logo</a>
         </div>
         <!-- Center (Search Bar) -->
         <div class="flex-grow mx-4">
            <form action="#" method="POST" class="relative w-full max-w-xs md:max-w-md lg:max-w-lg xl:max-w-xl mx-auto">
               <label for="search" class="sr-only">Search</label>
               <input
                  type="text"
                  id="search"
                  name="search"
                  class="w-full py-2 pl-10 pr-4 rounded-lg focus:outline-none"
                  placeholder="Search..."
               />
               <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                  <svg
                     xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="feather feather-search text-mutedForeground size-5"
                  >
                     <circle cx="11" cy="11" r="8"></circle>
                     <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                  </svg>
               </div>
            </form>
         </div>
      </div>

      <!-- Right side -->
      {% include 'components/user-avatar.html' %}
   </nav>
</header>
