{% extends 'layouts/auth.html' %} {% block title %} Sign Up {% endblock title %} {% block main %}

<main>
   <section class="container mx-auto my-8">
      <div class="max-w-md w-full mx-auto border border-secondaryForeground/20 rounded-xl px-8 py-10">
         <div class="flex flex-col space-y-1 text-center mb-8">
            <a href="#" class="text-xl font-bold text-primary/90">DigitalRisk </a>
            <span class="text-mutedForeground">Create an account</span>
         </div>

         <form action="#" method="POST">
            {{ form.hidden_tag() }}
            <div class="space-y-6">
               <div>
                  <label class="text-primary/90 text-sm mb-2 block">Name</label>
                  {{ form.name(class_='text-primary/90 border border-secondaryForeground/10 w-full text-sm px-4 py-3
                  rounded-md outline-secondaryForeground/20', placeholder='Enter name') }} 
                  {% for error in form.name.errors %}
                     <p class="text-red-600 text-sm mt-1">{{ error }}</p>
                  {% endfor %}
               </div>
               <div>
                  <label class="text-primary/90 text-sm mb-2 block">Email</label>
                  {{ form.email(class_='text-primary/90 border border-secondaryForeground/10 w-full text-sm px-4 py-3
                  rounded-md outline-secondaryForeground/20', placeholder='Enter email') }} {% for error in
                  form.email.errors %}
                  <p class="text-red-600 text-sm mt-1">{{ error }}</p>
                  {% endfor %}
               </div>
               <div>
                  <label class="text-primary/90 text-sm mb-2 block">Password</label>
                  {{ form.password(class_='text-primary/90 border border-secondaryForeground/10 w-full text-sm px-4 py-3
                  rounded-md outline-secondaryForeground/20', placeholder='Enter password') }} 
                  {% for error in form.password.errors %}
                     <p class="text-red-600 text-sm mt-1">{{ error }}</p>
                  {% endfor %}
               </div>
               <div>
                  <label class="text-primary/90 text-sm mb-2 block">Confirm Password</label>
                  {{ form.cpassword(class_='text-primary/90 border border-secondaryForeground/10 w-full text-sm px-4
                  py-3 rounded-md outline-secondaryForeground/20', placeholder='Enter confirm password') }} 
                  {% for error in form.cpassword.errors %}
                     <p class="text-red-600 text-sm mt-1">{{ error }}</p>
                  {% endfor %}
               </div>

               <div class="flex items-center">
                  <input
                     required=""
                     id="termcondition"
                     name="termcondition"
                     type="checkbox"
                     class="h-4 w-4 shrink-0 text-primary/90 focus:bg-primary/80 border-secondaryForeground/20 rounded accent-primary"
                  />
                  <label for="termcondition" class="text-primary/90 text-xs lg:text-sm ml-3 block ">
                     I accept the
                     <a href="" class="text-primary/90 font-semibold hover:underline ml-1">Terms and Conditions</a>
                  </label>
               </div>

               <!-- Flash messages -->
               {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                     <div class="space-y-4">
                           {% for category, message in messages %}
                              <div
                                 class="flex space-x-2 items-center px-4 py-3 rounded-md text-sm 
                                 {% if category == 'warning' %}
                                       bg-yellow-100 text-yellow-800 
                                 {% elif category == 'danger' %}
                                       bg-red-100 text-red-800 
                                 {% endif %}"
                              >
                                 <img
                                       src="{{ url_for('static', filename='icons/alert-triangle.svg') }}"
                                       alt="Alert"
                                       class="w-4 h-4"
                                 />
                                 <p>{{ message }}</p>
                              </div>
                           {% endfor %}
                     </div>
                  {% endif %}
               {% endwith %}


            <div class="!mt-8">
               <button
                  type="submit"
                  class="cursor-pointer w-full py-3 px-4 text-sm tracking-wider font-semibold rounded-md bg-primary/95 hover:bg-primary text-secondary focus:outline-none"
               >
                  Sign Up
               </button>
            </div>
            <p class="text-primary/90 text-sm mt-6 text-center">
               Already have an account?
               <a href="{{ url_for('auth.login') }}" class="text-primary/90 font-semibold hover:underline ml-1"
                  >Login here</a
               >
            </p>
         </form>
      </div>
   </section>
</main>

{% endblock main %}
