{% extends 'layouts/auth.html' %} {% block title %} Sign Up {% endblock title %} {% block main %}

<main class="py-8">
   <!-- First section -->
   <section class="container mx-auto">
      <div class="max-w-md w-full mx-auto border border-secondaryForeground/20 rounded-xl px-8 py-10">
         <div class="flex flex-col space-y-1 text-center mb-8">
            <a href="#" class="text-xl font-bold text-primary/90">DigitalRisk </a>
            <span class="text-mutedForeground">Ceate an account</span>
         </div>

         <form>
            <div class="space-y-6">
               <div>
                  <label class="text-primary/90 text-sm mb-2 block">Email</label>
                  <input
                     name="email"
                     type="text"
                     class="text-primary/90 border border-secondaryForeground/10 w-full text-sm px-4 py-3 rounded-md outline-secondaryForeground/20"
                     placeholder="Enter email"
                  />
               </div>
               <div>
                  <label class="text-primary/90 text-sm mb-2 block">Password</label>
                  <input
                     required
                     name="password"
                     type="password"
                     class="text-primary/90 border border-secondaryForeground/10 w-full text-sm px-4 py-3 rounded-md outline-secondaryForeground/20"
                     placeholder="Enter password"
                  />
               </div>
               <div>
                  <label class="text-primary/90 text-sm mb-2 block">Confirm Password</label>
                  <input
                     required
                     name="cpassword"
                     type="password"
                     class="text-primary/90 border border-secondaryForeground/10 w-full text-sm px-4 py-3 rounded-md outline-secondaryForeground/20"
                     placeholder="Enter confirm password"
                  />
               </div>

               <div class="flex items-center">
                  <input
                     required
                     id="termcondition"
                     name="termcondition"
                     type="checkbox"
                     class="h-4 w-4 shrink-0 text-primary/90 focus:bg-primary/80 border-secondaryForeground/20 rounded"
                  />
                  <label for="termcondition" class="text-primary/90 text-xs lg:text-sm ml-3 block">
                     I accept the
                     <a href="" class="text-primary/90 font-semibold hover:underline ml-1">Terms and Conditions</a>
                  </label>
               </div>
            </div>

            <div class="!mt-12">
               <button
                  type="button"
                  class="cursor-pointer w-full py-3 px-4 text-sm tracking-wider font-semibold rounded-md bg-primary/95 hover:bg-primary text-secondary focus:outline-none"
               >
                  Create an account
               </button>
            </div>
            <p class="text-primary/90 text-sm mt-6 text-center">
               Already have an account?
               <a href="{{url_for('auth.login')}}" class="text-primary/90 font-semibold hover:underline ml-1"
                  >Login here</a
               >
            </p>
         </form>
      </div>
   </section>
</main>

{% endblock main %}
