{% extends 'base.html' %}

{% block title %}
    {% block subTitle %} {% endblock subTitle %} {% if request.path != url_for('marketing.homepage') %}  - DigitalRisk {% endif %}
{% endblock title %}

{% block header %} 
    {% include 'components/navbar-marketing.html' %} 
{% endblock %}

{% block main %}
    <main class="flex flex-col items-center">
        {% block content %} {% endblock content %}
    </main>
{% endblock main %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}