{% extends 'layouts/platform.html' %} {% block title %}Dashboard{% endblock %} {% block main %}

<!-- User information -->
<section class="w-full lg:p-6 p-2 justify-center bg-secondary/80 space-y-4">
   {% include 'components/application/page-header.html' %} 
   

   <!-- Content -->
   <div class="mx-auto w-full rounded-md bg-background shadow-md py-6 px-8 space-y-4">
      <!-- Header -->
      <div class="flex items-center justify-between">
         <!-- Left -->
         <div class="flex items-center gap-x-2">
            <span class="font-semibold text-primary/85">Attributes</span>
            <span class="text-mutedForeground">{{ pagination.total }}</span>
         </div>
         <!-- Right -->
         <button class="text-sm p-2 rounded-md bg-primary/85 hover:bg-primary/90"
            onclick="openModal('application-search-modal')">
            <svg
               xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               stroke="currentColor"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round"
               class="feather feather-plus size-6 text-secondary"
            >
               <line x1="12" y1="5" x2="12" y2="19"></line>
               <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
         </button>
         {% include 'components/application/search-modal.html' %} 
      </div>
      <!-- Table -->
      <div class="px-4 max-w-full overflow-auto">
         {% if not applications %}
         <div class="text-center">
            <p class="text-sm text-mutedForeground">Application not found!</p>
         </div>
         {% else %}
         <table class="table-auto w-full border-collapse text-base text-primary/80">
            <!-- Rest of your table content -->
            <thead class="text-left">
               <tr>
                  <th class="px-4 py-2">Amount</th>
                  <th class="px-4 py-2 text-center ">Type</th>
                  <th class="px-4 py-2 ">Status</th>
                  <th class="px-4 py-2">Customer</th>
                  <th class="px-4 py-2">Applied On</th>
                  <th class="px-4 py-2 text-center">Actions</th>
               </tr>
            </thead>
            <tbody class="divide-y divide-mutedForeground/20 text-left">
               {% for application in applications %}
               <tr class="hover:bg-secondary">
                  <td class="px-4 py-3 truncate w-[200px]"><a href="{{url_for('platform.application.preview', id=application.id)}}" class="hover:underline">{{ application.amount }} IDR in {{application.duration}} Months</a></td>
                  <td class="px-4 py-3 truncate w-[200px] text-center">{{ application.application_type.name }}</td>
                  <td class="px-4 py-3 truncate w-[200px] ">{{ application.status.value }}</td>
                  <td class="px-4 py-3 truncate w-[200px]">
                     <a
                        href="{{ url_for('platform.application.index', search=application.customer.name) }}"
                        class="hover:underline">
                        {{ application.customer.name }}
                     </a>
                  </td>
                  <td class="px-4 py-3 truncate w-[200px]">{{ application.created_at }}</td>
                  <td class="px-4 py-3 truncate w-[200px]">
                     <div class="w-full flex items-center justify-center gap-x-1 text-primary/70">
                        <!-- <button
                           onclick="openModal('create-stemement-modal-{{application.id}}')"
                           class="disabled:text-mutedForeground/50 disabled:bg-background rounded-md px-2 py-1 hover:bg-secondary"
                        >
                           <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-activity size-5"
                           >
                              <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
                           </svg>
                        </button> -->
                        <button
                           onclick="openModal('application-delete-modal-{{application.id}}')"
                           class="disabled:text-mutedForeground/50 disabled:bg-background rounded-sm px-2 py-1 hover:bg-primary/70 hover:text-secondary"
                           {{ 'disabled' if application.user_id != user.id else '' }} 
                        >
                           <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-trash-2 size-5"
                           >
                              <polyline points="3 6 5 6 21 6"></polyline>
                              <path
                                 d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                              ></path>
                              <line x1="10" y1="11" x2="10" y2="17"></line>
                              <line x1="14" y1="11" x2="14" y2="17"></line>
                           </svg>
                        </button>
                     </div>
                  </td>
               </tr>

               {% include 'components/application/delete-modal.html' %} 
               
               {% endfor %}
            </tbody>
         </table>
         {% endif %}
      </div>
      <!-- Pagination -->
      <div class="flex items-center justify-between">
         <div>
            <span class="text-sm text-mutedForeground">Page {{ pagination.page }} of {{ pagination.pages }}</span>
         </div>
         <div>
            <nav class="block">
               <ul class="flex pl-0 rounded list-none flex-wrap text-sm gap-x-2">
                  {% if pagination.has_prev %}
                  <li>
                     <a
                        href="?page={{ pagination.prev_num }}&data=all"
                        class="block py-2 px-3 leading-tight bg-white border rounded-sm border-gray-300 text-primary/90 hover:bg-gray-200"
                     >
                        Previous
                     </a>
                  </li>
                  {% endif %} {% if pagination.has_next %}
                  <li>
                     <a
                        href="?page={{ pagination.next_num }}&data=all"
                        class="block py-2 px-3 leading-tight bg-white border rounded-sm border-gray-300 text-primary/90 hover:bg-gray-200"
                     >
                        Next
                     </a>
                  </li>
                  {% endif %}
               </ul>
            </nav>
         </div>
      </div>
   </div>
</section>

{% endblock main%}
