{% extends 'layouts/platform.html' %} {% block title %}Dashboard{% endblock %} {% block main %}

<!-- User information -->
<section class="w-full lg:p-6 lg:pt-8 p-2 justify-center bg-secondary/80 space-y-4">
   {% include 'components/customer/page-header.html' %} {% include 'components/customer/flash-message.html'%}

   <!-- Content -->
   <div class="mx-auto w-full rounded-md bg-background shadow-sm">
      <!-- Header -->
      <div class="flex items-center justify-between py-6 px-8">
         <!-- Left -->
         <div class="flex items-center gap-x-2">
            <span class="text-lg font-semibold text-primary/85">Attributes</span>
            <span class="text-mutedForeground">{{ pagination.total }}</span>
         </div>
         <!-- Right -->
         <a href="{{url_for('platform.customer.create')}}">
            <button
               
               class="text-sm p-2 rounded-md bg-primary/85 hover:bg-primary/90"
            >
               <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-user-plus size-6 text-secondary"
               >
                  <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="8.5" cy="7" r="4"></circle>
                  <line x1="20" y1="8" x2="20" y2="14"></line>
                  <line x1="23" y1="11" x2="17" y2="11"></line>
               </svg>
            </button>
         </a>
      </div>
      <!-- Table -->
      <div class="px-8 max-w-full overflow-auto">
         {% if not customers %}
         <div class="text-center ">
            <p class="text-sm text-mutedForeground font-semibold">Customer not found!</p>
         </div>
         {% else %}
         <table class="table-auto w-full border-collapse text-base text-primary/80">
            <!-- Rest of your table content -->
            <thead class="text-left">
               <tr>
                  <th class="px-4 py-2">Type</th>
                  <th class="px-4 py-2">Name</th>
                  <th class="px-4 py-2">Phone</th>
                  <th class="px-4 py-2">Created At</th>
                  <th class="px-4 py-2 text-center">Actions</th>
               </tr>
            </thead>
            <tbody class="divide-y divide-mutedForeground/20 text-left">
               {% for customer in customers %}
               <tr>
                  <td class="px-4 py-3 truncate w-[200px]">{{ customer.customer_type.value }}</td>
                  <td class="px-4 py-3 truncate w-[100px]">{{ customer.name }}</td>
                  <td class="px-4 py-3 truncate w-[200px]">{{ customer.phone_number }}</td>
                  <td class="px-4 py-3 truncate w-[200px]">{{ customer.created_at }}</td>
                  <td class="px-4 py-3 truncate w-[200px]">
                     <div class="w-full flex items-center justify-center gap-x-1 text-primary/70">
                        <a href="" class="flex items-center rounded-md px-2 py-1 hover:bg-secondary ">
                           <button>
                              <svg
                                 xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="feather feather-edit-2 size-5"
                              >
                                 <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                              </svg>
                           </button>
                        </a>
                        <button
                           onclick="openModal('customer-delete-{{customer.id}}')"
                           class="disabled:text-mutedForeground/50 disabled:bg-background rounded-md px-2 py-1 hover:bg-secondary "
                           {% if customer.user_id != user.id %} disabled {% endif %}
                        >
                           <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-user-x size-5"
                           >
                              <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                              <circle cx="8.5" cy="7" r="4"></circle>
                              <line x1="18" y1="8" x2="23" y2="13"></line>
                              <line x1="23" y1="8" x2="18" y2="13"></line>
                           </svg>
                        </button>
                     </div>
                  </td>
               </tr>
                
               {% include 'components/customer/delete-modal.html' %} {% endfor %}
            </tbody>
         </table>

         {% endif %}
      </div>
      <!-- Pagination -->
      <div class="flex items-center justify-between px-8 py-4 mt-2">
         <div>
            <span class="text-sm text-mutedForeground">Page {{ pagination.page }} of {{ pagination.pages }}</span>
         </div>
         <div>
            <nav class="block">
               <ul class="flex pl-0 rounded list-none flex-wrap text-sm gap-x-2">
                  {% if pagination.has_prev %}
                  <li>
                     <a
                        href="?page={{ pagination.prev_num }}&data=all"
                        class="block py-2 px-3 leading-tight bg-white border rounded-sm border-gray-300 text-primary/90 hover:bg-gray-200"
                     >
                        Previous
                     </a>
                  </li>
                  {% endif %} {% if pagination.has_next %}
                  <li>
                     <a
                        href="?page={{ pagination.next_num }}&data=all"
                        class="block py-2 px-3 leading-tight bg-white border rounded-sm border-gray-300 text-primary/90 hover:bg-gray-200"
                     >
                        Next
                     </a>
                  </li>
                  {% endif %}
               </ul>
            </nav>
         </div>
      </div>
   </div>
</section>

{% endblock main%}
