{% extends 'layouts/platform.html' %} {% block title %}Dashboard{% endblock %} {% block main %}

<section class="w-full lg:p-6 p-3 bg-slate-50 flex justify-center">
   <div class="bg-background w-full lg:p-14 p-8 max-w-4xl rounded-xl shadow-sm space-y-6">
      <!-- Title -->
      <div class="lg:space-y-8 space-y-4 text-primary/80">
         <p class="lg:text-2xl font-semibold text-xl line-clamp-1">New Customer Registration Form</p>
      </div>

      <!-- Form -->
      <form method="POST" action="" class="space-y-16">
         {{ form.hidden_tag() }}
         <!-- Customer Details -->
         <div class="space-y-10">
            <p class="font-semibold lg:text-lg text-base text-primary/80">Customer Details</p>

            <div class="flex flex-col lg:flex-row lg:items-center space-y-2 lg:space-y-0">
               {{ form.name.label(class="lg:w-1/4 lg:text-base text-sm font-medium text-mutedForeground") }}
               <div class="lg:w-3/4">
                  {{ form.name(class_='lg:px-1 px-0 py-2 appearance-none bg-transparent border-0 border-b-2 w-full
                  text-gray-700 leading-tight focus:outline-none focus:ring-0 focus:border-mutedForeground/50',
                  placeholder='Name') }} {% for error in form.name.errors %}
                  <p class="text-red-600 text-sm mt-1">{{ error }}</p>
                  {% endfor %}
               </div>
            </div>

            <div class="flex flex-col lg:flex-row lg:items-center space-y-2 lg:space-y-0">
               {{ form.phone_number.label(class="lg:w-1/4 lg:text-base text-sm font-medium text-mutedForeground") }}
               <div class="lg:w-3/4">
                  {{ form.phone_number(class_='lg:px-1 px-0 py-2 appearance-none bg-transparent border-0 border-b-2
                  w-full text-gray-700 leading-tight focus:outline-none focus:ring-0 focus:border-mutedForeground/50',
                  placeholder='Phone Number', type='number') }} {% for error in form.phone_number.errors %}
                  <p class="text-red-600 text-sm mt-1">{{ error }}</p>
                  {% endfor %}
               </div>
            </div>

            <div class="flex flex-col lg:flex-row lg:items-center space-y-2 lg:space-y-0">
               {{ form.id_no.label(class="lg:w-1/4 lg:text-base text-sm font-medium text-mutedForeground") }}
               <div class="lg:w-3/4 flex gap-x-4">
                  <div class="w-full">
                     {{ form.id_no(class_='lg:px-1 px-0 py-2 appearance-none bg-transparent border-0 border-b-2 w-full
                     text-gray-700 leading-tight focus:outline-none focus:ring-0 focus:border-mutedForeground/50',
                     placeholder='ID Number', type='number') }} {% for error in form.id_no.errors %}
                     <p class="text-red-600 text-sm mt-1">{{ error }}</p>
                     {% endfor %}
                  </div>
                  <div class="lg:w-60 w-44">
                     {{ form.id_type(class_='lg:px-1 px-0 py-2 appearance-none bg-transparent border-0 border-b-2 w-full
                     text-gray-700 leading-tight focus:outline-none focus:ring-0 focus:border-mutedForeground/50') }} {%
                     for error in form.id_type.errors %}
                     <p class="text-red-600 text-sm mt-1">{{ error }}</p>
                     {% endfor %}
                  </div>
               </div>
            </div>

            <div class="flex flex-col lg:flex-row lg:items-center space-y-2 lg:space-y-0">
               {{ form.customer_type.label(class="lg:w-1/4 lg:text-base text-sm font-medium text-mutedForeground") }}
               <div class="lg:w-3/4">
                  {{ form.customer_type(class_='lg:px-1 px-0 py-2 appearance-none bg-transparent border-0 border-b-2
                  w-full text-gray-700 leading-tight focus:outline-none focus:ring-0 focus:border-mutedForeground/50',
                  placeholder='Birth Date (YYYY-MM-DD)') }} {% for error in form.customer_type.errors %}
                  <p class="text-red-600 text-sm mt-1">{{ error }}</p>
                  {% endfor %}
               </div>
            </div>
         </div>

         <!-- Address Details -->
         <div class="space-y-10">
            <p class="font-semibold lg:text-lg text-base text-primary/80">Address Details</p>

            <div class="flex flex-col lg:flex-row lg:items-center space-y-2 lg:space-y-0">
               {{ form.street.label(class="lg:w-1/4 lg:text-base text-sm font-medium text-mutedForeground") }}
               <div class="lg:w-3/4">
                  {{ form.street(class_='lg:px-1 px-0 py-2 appearance-none bg-transparent border-0 border-b-2 w-full
                  text-gray-700 leading-tight focus:outline-none focus:ring-0 focus:border-mutedForeground/50',
                  placeholder='Street') }} {% for error in form.street.errors %}
                  <p class="text-red-600 text-sm mt-1">{{ error }}</p>
                  {% endfor %}
               </div>
            </div>

            <div class="flex flex-col lg:flex-row lg:items-center space-y-2 lg:space-y-0">
               {{ form.city.label(class="lg:w-1/4 lg:text-base text-sm font-medium text-mutedForeground") }}
               <div class="lg:w-3/4">
                  {{ form.city(class_='lg:px-1 px-0 py-2 appearance-none bg-transparent border-0 border-b-2 w-full
                  text-gray-700 leading-tight focus:outline-none focus:ring-0 focus:border-mutedForeground/50',
                  placeholder='City or Regency') }} {% for error in form.city.errors %}
                  <p class="text-red-600 text-sm mt-1">{{ error }}</p>
                  {% endfor %}
               </div>
            </div>

            <div class="flex flex-col lg:flex-row lg:items-center space-y-2 lg:space-y-0">
               {{ form.province.label(class="lg:w-1/4 lg:text-base text-sm font-medium text-mutedForeground") }}
               <div class="lg:w-3/4 flex space-x-4">
                  <div class="w-full">
                     {{ form.province(class_='lg:px-1 px-0 py-2 appearance-none bg-transparent border-0 border-b-2
                     w-full text-gray-700 leading-tight focus:outline-none focus:ring-0
                     focus:border-mutedForeground/50', placeholder='Province') }} {% for error in form.province.errors
                     %}
                     <p class="text-red-600 text-sm mt-1">{{ error }}</p>
                     {% endfor %}
                  </div>
                  <div class="lg:w-60 w-44">
                     {{ form.zip_code(class_='lg:px-1 px-0 py-2 appearance-none bg-transparent border-0 border-b-2
                     w-full text-gray-700 leading-tight focus:outline-none focus:ring-0
                     focus:border-mutedForeground/50', placeholder='Zip Code', type='number') }} {% for error in
                     form.zip_code.errors %}
                     <p class="text-red-600 text-sm mt-1">{{ error }}</p>
                     {% endfor %}
                  </div>
               </div>
            </div>

            <div class="flex flex-col lg:flex-row lg:items-center space-y-2 lg:space-y-0">
               {{ form.country.label(class="lg:w-1/4 lg:text-base text-sm font-medium text-mutedForeground") }}
               <div class="lg:w-3/4">
                  <input
                     type="text"
                     class="lg:px-1 px-0 py-2 appearance-none bg-transparent border-0 border-b-2 w-full text-gray-700 leading-tight focus:outline-none focus:ring-0 focus:border-mutedForeground/50"
                     placeholder="Indonesia"
                     disabled
                  />
               </div>
            </div>
         </div>

         <div class="w-full flex justify-center">
            <button
               type="submit"
               class="w-full py-2 bg-primary text-secondary font-semibold rounded-md shadow-md hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary"
            >
               Submit
            </button>
         </div>
      </form>
   </div>
</section>

{% endblock %}
