{% extends 'layouts/platform.html' %} {% block title %}Dashboard{% endblock %} {% block main %}

<!-- User information -->
<section class="w-full bg-secondary/80 lg:p-6 p-2">
   <div class="max-w-xl mx-auto w-full bg-background rounded-md space-y-8 shadow-md lg:p-14 p-8">
      <div class="flex flex-col space-y-2 text-center mb-8">
         <div class="flex justify-center">
            <svg
               xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               stroke="currentColor"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round"
               class="feather feather-user text-mutedForeground size-16 border-2 rounded-full p-2"
            >
               <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
               <circle cx="12" cy="7" r="4"></circle>
            </svg>
         </div>
         <div>
            <p href="#" class="text-xl font-bold text-primary/90">Settings</p>
            <span class="text-mutedForeground">Update user information</span>
         </div>
      </div>
      <!-- Flash Messages -->
      <div class="w-full text-left items-center">
         {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in
         messages %} {% if category in ['settings-success', 'settings-warning', 'settings-danger'] %}
         <div
            class="flex items-center justify-between p-4 rounded-md {% if category == 'settings-success' %} bg-green-100 text-green-700 border-green-300 {% elif category == 'settings-warning' %} bg-orange-100 text-orange-700 border-orange-300 {% elif category == 'settings-danger' %} bg-red-100 text-red-700 border-red-300 {% endif %} border-l-4"
         >
            <p>{{ message }}</p>
            <button onclick="closeFlashMessage(this)">
               <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-x size-4 text-primary"
               >
                  <line x1="18" y1="6" x2="6" y2="18"></line>
                  <line x1="6" y1="6" x2="18" y2="18"></line>
               </svg>
            </button>
         </div>
         {% endif %} {% endfor %} {% endif %} {% endwith %}
      </div>

      <form action="{{ url_for('platform.settings') }}" method="POST">
         {{ name_form.hidden_tag() }}
         <input type="hidden" name="name-submit" value="1" />
         <div class="space-y-4">
            <p class="font-semibold text-mutedForeground">Update Name</p>
            <div id="name-container" class="">
               {{ name_form.name(class_='px-0 py-2 appearance-none bg-transparent border-0 border-b-2 w-full
               text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none focus:ring-0
               focus:border-mutedForeground/50', placeholder='Enter name', id='name-input') }} {% for error in
               name_form.name.errors %}
               <p class="text-red-600 text-sm mt-1">{{ error }}</p>
               {% endfor %}
            </div>
            <div class="flex justify-end">
               <button
                  type="submit"
                  class="px-4 py-2 rounded-md bg-primary/90 hover:bg-primary/95 focus:outline-none text-secondary text-sm font-semibold"
               >
                  Save
               </button>
            </div>
         </div>
      </form>

      <form action="{{ url_for('platform.settings') }}" method="POST">
         {{ password_form.hidden_tag() }}
         <input type="hidden" name="password-submit" value="1" />
         <div class="space-y-4">
            <p class="font-semibold text-mutedForeground">Change Password</p>
            <div class="">
               {{ password_form.password(class_='px-0 py-2 appearance-none bg-transparent border-0 border-b-2 w-full
               text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none focus:ring-0
               focus:border-mutedForeground/50', placeholder='Old password') }} {% for error in
               password_form.password.errors %}
               <p class="text-red-600 text-sm mt-1">{{ error }}</p>
               {% endfor %}
            </div>
            <div class="">
               {{ password_form.npassword(class_='px-0 py-2 appearance-none bg-transparent border-0 border-b-2 w-full
               text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none focus:ring-0
               focus:border-mutedForeground/50', placeholder='New password') }} {% for error in
               password_form.npassword.errors %}
               <p class="text-red-600 text-sm mt-1">{{ error }}</p>
               {% endfor %}
            </div>
            <div class="">
               {{ password_form.cnpassword(class_='px-0 py-2 appearance-none bg-transparent border-0 border-b-2 w-full
               text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none focus:ring-0
               focus:border-mutedForeground/50', placeholder='Confirm new password') }} {% for error in
               password_form.cnpassword.errors %}
               <p class="text-red-600 text-sm mt-1">{{ error }}</p>
               {% endfor %}
            </div>
            <div class="flex justify-end">
               <button
                  type="submit"
                  class="px-4 py-2 rounded-md bg-primary/90 hover:bg-primary/95 focus:outline-none text-secondary text-sm font-semibold"
               >
                  Change
               </button>
            </div>
         </div>
      </form>
   </div>
</section>

{% endblock main %}
