{% extends 'layouts/platform.html' %} {% block title %}Dashboard{% endblock %} {% block main %}

<!-- User information -->
<section class="w-full flex flex-col justify-center items-center py-4">
   <div class="max-w-xl w-full rounded-xl space-y-8 px-8 py-10">
      <div class="flex flex-col space-y-2 text-center mb-8">
         <div class="flex justify-center">
            <svg
               xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               stroke="currentColor"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round"
               class="feather feather-user text-mutedForeground size-16 border-2 rounded-full p-2"
            >
               <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
               <circle cx="12" cy="7" r="4"></circle>
            </svg>
         </div>
         <div>
            <p href="#" class="text-xl font-bold text-primary/90">Settings</p>
            <span class="text-mutedForeground">Update user information</span>
         </div>
      </div>
      <!-- Flash messages -->
      <div class="w-full text-left flex justify-center items-center">
         <div class="max-w-xl w-full">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
            <div class="space-y-4">
               {% for category, message in messages %}
               <div
                  class="p-4 rounded-md {% if category == 'success' %}bg-green-100 text-green-700 border-green-300 {% elif category == 'danger' %}bg-red-100 text-red-700 border-red-300 {% elif category == 'warning' %}bg-yellow-100 text-yellow-700 border-yellow-300 {% else %}bg-gray-100 text-gray-700 border-gray-300 {% endif %} border-l-4"
               >
                  <p>{{ message }}</p>
               </div>
               {% endfor %}
            </div>
            {% endif %} {% endwith %}
         </div>
      </div>

      <form action="{{ url_for('platform.settings') }}" method="POST">
         {{ name_form.hidden_tag() }}
         <input type="hidden" name="name-submit" value="1" />
         <div class="space-y-4">
            <p class="font-semibold text-mutedForeground">Update Name</p>
            <div id="name-container" class="border-b border-secondaryForeground/20 py-2">
               {{ name_form.name(class_='appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2
               leading-tight focus:outline-none', placeholder='Enter name', id='name-input') }} {% for error in
               name_form.name.errors %}
               <p class="text-red-600 text-sm mt-1">{{ error }}</p>
               {% endfor %}
            </div>
            <div class="flex justify-end">
               <button
                  type="submit"
                  class="px-4 py-2 rounded-md bg-primary/90 hover:bg-primary/95 focus:outline-none text-secondary text-sm font-semibold"
               >
                  Save
               </button>
            </div>
         </div>
      </form>

      <form action="{{ url_for('platform.settings') }}" method="POST">
         {{ password_form.hidden_tag() }}
         <input type="hidden" name="password-submit" value="1" />
         <div class="space-y-4">
            <p class="font-semibold text-mutedForeground">Change Password</p>
            <div class="border-b border-secondaryForeground/20 py-2">
               {{ password_form.password(class_='appearance-none bg-transparent border-none w-full text-gray-700 mr-3
               py-1 px-2 leading-tight focus:outline-none', placeholder='Old password') }} {% for error in
               password_form.password.errors %}
               <p class="text-red-600 text-sm mt-1">{{ error }}</p>
               {% endfor %}
            </div>
            <div class="border-b border-secondaryForeground/20 py-2">
               {{ password_form.npassword(class_='appearance-none bg-transparent border-none w-full text-gray-700 mr-3
               py-1 px-2 leading-tight focus:outline-none', placeholder='New password') }} {% for error in
               password_form.npassword.errors %}
               <p class="text-red-600 text-sm mt-1">{{ error }}</p>
               {% endfor %}
            </div>
            <div class="border-b border-secondaryForeground/20 py-2">
               {{ password_form.cnpassword(class_='appearance-none bg-transparent border-none w-full text-gray-700 mr-3
               py-1 px-2 leading-tight focus:outline-none', placeholder='Confirm new password') }} {% for error in
               password_form.cnpassword.errors %}
               <p class="text-red-600 text-sm mt-1">{{ error }}</p>
               {% endfor %}
            </div>
            <div class="flex justify-end">
               <button
                  type="submit"
                  class="px-4 py-2 rounded-md bg-primary/90 hover:bg-primary/95 focus:outline-none text-secondary text-sm font-semibold"
               >
                  Change
               </button>
            </div>
         </div>
      </form>
   </div>
</section>

{% endblock main %}
