{% extends 'layouts/platform.html' %} {% block title %}Statements{% endblock %} {% block main %}

<!-- User information -->
<section class="w-full lg:p-6 p-2 justify-center bg-secondary/80 space-y-4">
   {% include 'components/statement/page-header.html' %}

   <!-- Content -->
   <div class="mx-auto w-full rounded-md bg-background shadow-md py-6 px-8 space-y-4">
      <!-- Header -->
      <div class="flex items-center justify-between">
         <!-- Left -->
         <div class="flex items-center gap-x-2">
            <span class="font-semibold text-primary/85">Attributes</span>
            <span class="text-mutedForeground">{{ pagination.total }}</span>
         </div>
         <!-- Right -->
         <button
            class="text-sm p-2 rounded-md bg-primary/85 hover:bg-primary/90"
            onclick="openModal('statement-search-modal')"
         >
            <svg
               xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               stroke="currentColor"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round"
               class="feather feather-plus size-6 text-secondary"
            >
               <line x1="12" y1="5" x2="12" y2="19"></line>
               <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
         </button>
         {% include 'components/statement/search-modal.html' %}
      </div>
      <!-- Table -->
      <div class="px-4 max-w-full overflow-auto">
         {% if not statements %}
         <div class="text-center">
            <p class="text-sm text-mutedForeground">Statement not found!</p>
         </div>
         {% else %}
         <table class="table-auto w-full border-collapse text-base text-primary/80">
            <!-- Rest of your table content -->
            <thead class="text-left">
               <tr>
                  <th class="px-4 py-2">Statement</th>
                  <th class="px-4 py-2">Is Valid</th>
                  <th class="px-4 py-2">Application</th>
                  <th class="px-4 py-2">Customer</th>
                  <th class="px-4 py-2">Created At</th>
                  <th class="px-4 py-2 text-center">Action</th>
               </tr>
            </thead>
            <tbody class="divide-y divide-mutedForeground/20 text-left">
               {% for statement in statements %}

               <tr class="hover:bg-secondary">
                  <td class="px-4 py-3 truncate w-[200px] max-w-[200px] overflow-hidden whitespace-nowrap">
                     <a href="{{url_for('platform.statement.preview', id=statement.id)}}" class="hover:underline"
                        >{{ statement.name }}</a
                     >
                  </td>
                  <td class="px-4 py-3 truncate w-[200px] max-w-[200px] overflow-hidden whitespace-nowrap">
                     {{statement.is_valid}}
                  </td>
                  <td class="px-4 py-3 truncate w-[200px] max-w-[200px] overflow-hidden whitespace-nowrap">
                     <a
                        href="{{url_for('platform.application.preview', id=statement.application.id)}}"
                        class="hover:underline"
                        >{{statement.application.application_type.name}}</a
                     >
                  </td>
                  <td class="px-4 py-3 truncate w-[200px] max-w-[200px] overflow-hidden whitespace-nowrap">
                     <a
                        href="{{ url_for('platform.customer.preview', id=statement.application.customer.id) }}"
                        class="hover:underline"
                        >{{statement.application.customer.name}}</a
                     >
                  </td>
                  <td class="px-4 py-3 truncate w-[200px] max-w-[200px] overflow-hidden whitespace-nowrap">
                     {{ statement.created_at | utc_to_wib }}
                  </td>
                  <td class="px-4 py-3 truncate w-[200px] max-w-[200px] overflow-hidden whitespace-nowrap">
                     <div class="w-full flex items-center justify-center gap-x-1 text-primary/70">
                        <a
                           href="{{ url_for('platform.statement.view', statement_id=statement.id) }}"
                           target="_blank"
                           class="disabled:text-mutedForeground/50 rounded-sm px-2 py-1 {{ 'disabled:hover:bg-primary/70' if statement.user_id != user.id else 'hover:bg-primary/70' }} hover:text-secondary"
                        >
                           <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-external-link size-5"
                           >
                              <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                              <polyline points="15 3 21 3 21 9"></polyline>
                              <line x1="10" y1="14" x2="21" y2="3"></line>
                           </svg>
                        </a>
                        <button
                           onclick="openModal('statement-delete-modal-{{statement.id}}')"
                           class="disabled:text-mutedForeground/50 rounded-sm px-2 py-1 {{ 'disabled:hover:bg-primary/70' if statement.user_id != user.id else 'hover:bg-primary/70' }} hover:text-secondary"
                        >
                           <!-- {{ 'disabled' if statement.user_id != user.id else '' }}  -->
                           <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-trash-2 size-5"
                           >
                              <polyline points="3 6 5 6 21 6"></polyline>
                              <path
                                 d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                              ></path>
                              <line x1="10" y1="11" x2="10" y2="17"></line>
                              <line x1="14" y1="11" x2="14" y2="17"></line>
                           </svg>
                        </button>
                     </div>
                  </td>
               </tr>

               {% include 'components/statement/delete-modal.html' %} {% endfor %}
            </tbody>
         </table>
         {% endif %}
      </div>
      <!-- Pagination -->
      <div class="flex items-center justify-between">
         <div>
            <span class="text-sm text-mutedForeground">Page {{ pagination.page }} of {{ pagination.pages }}</span>
         </div>
         <div>
            <nav class="block">
               <ul class="flex pl-0 rounded list-none flex-wrap text-sm gap-x-2">
                  {% if pagination.has_prev %}
                  <li>
                     <a
                        href="?page={{ pagination.prev_num }}&data=all"
                        class="block py-2 px-3 leading-tight bg-white border rounded-sm border-gray-300 text-primary/90 hover:bg-gray-200"
                     >
                        Previous
                     </a>
                  </li>
                  {% endif %} {% if pagination.has_next %}
                  <li>
                     <a
                        href="?page={{ pagination.next_num }}&data=all"
                        class="block py-2 px-3 leading-tight bg-white border rounded-sm border-gray-300 text-primary/90 hover:bg-gray-200"
                     >
                        Next
                     </a>
                  </li>
                  {% endif %}
               </ul>
            </nav>
         </div>
      </div>
   </div>
</section>

{% endblock main%}
