<!-- Flash Messages -->
<div class="w-full text-left items-center">
   {% with messages = get_flashed_messages(with_categories=true) %} 
      {% if messages %}
         {% for category, message in messages %}
            {% if category in ['application-success', 'application-warning', 'application-danger'] %}
               <div class="flex items-center justify-between p-4 rounded-md
                  {% if category == 'application-success' %}
                     bg-green-100 text-green-700 border-green-300
                  {% elif category == 'application-warning' %}
                     bg-orange-100 text-orange-700 border-orange-300
                  {% elif category == 'application-danger' %}
                     bg-red-100 text-red-700 border-red-300
                  {% endif %}
                  border-l-4"
               >
                  <p>{{ message }}</p>
                  <button onclick="closeFlashMessage(this)">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x size-4 text-primary">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                     </svg>
                  </button>
               </div>
            {% endif %}
         {% endfor %}
      {% endif %}
   {% endwith %}
</div>
