@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-Medium.ttf') format('truetype'); /* Nama file harus sesuai dengan berat font */
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-ExtraBold.ttf') format('truetype'); /* Nama file harus sesuai dengan berat font */
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-Black.ttf') format('truetype'); /* Nama file harus sesuai dengan berat font */
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body, html {
    font-family: 'Inter', sans-serif;
}


h1, h2, h3, h4, h5, h6, p, a, span, div {
    font-family: 'Inter', sans-serif;
}

.primary-button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem; 
    background-color: hsl(240, 5.9%, 10%); 
    color: hsl(0, 0%, 100%); 
    transition: background-color 0.3s; 
    cursor: pointer;
}

.primary-button:hover {
    background-color: hsla(240, 5.9%, 10%, 0.9); 
  }



.toast-container {
position: fixed;
bottom: 1rem;
right: 1rem;
z-index: 1000; /* Ensure it's above other content */
display: flex;
flex-direction: column;
align-items: flex-end;
}

.flash-message {
position: relative;
padding: 1rem;
margin-top: 0.5rem;
border-radius: 0.5rem;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
background-color: #ffffff;
color: #333333;
max-width: 400px;
overflow: hidden;
opacity: 0;
transform: translateX(100%);
transition: opacity 0.3s ease-in-out, transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Spring-like animation */
display: flex;
align-items: center;
justify-content: space-between;
gap: 1rem;
}

.flash-message.show {
opacity: 1;
transform: translateX(0);
}

.flash-message[data-category="danger"] {
background-color: #ffcccc;
color: #cc0000;
}

.flash-message[data-category="success"] {
background-color: #ccffcc;
color: #009900;
}

.flash-message[data-category="warning"] {
background-color: #ffffcc;
color: #9b5300;
}

