@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-Medium.ttf') format('truetype'); /* Nama file harus sesuai dengan berat font */
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-ExtraBold.ttf') format('truetype'); /* Nama file harus sesuai dengan berat font */
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-Black.ttf') format('truetype'); /* Nama file harus sesuai dengan berat font */
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body, html {
    font-family: 'Inter', sans-serif;
}


h1, h2, h3, h4, h5, h6, p, a, span, div {
    font-family: 'Inter', sans-serif;
}

.primary-button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem; 
    background-color: hsl(240, 5.9%, 10%); 
    color: hsl(0, 0%, 100%); 
    transition: background-color 0.3s; 
    cursor: pointer;
}

.primary-button:hover {
    background-color: hsla(240, 5.9%, 10%, 0.9); 
  }

/* .min-h-screen {
    min-height: 100vh;
}

.navbar-toggler {
    border: none;
    font-size: 1rem;
}

.nav-link {
    color: #666555;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link:active {
    color: #000111;
    
}

@media (min-width: 991px){
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: #000111;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover:before, .nav-link.active:before {
        width: 100%;
        visibility: visible;
    }
}

.scrolled-nav{
    border-bottom: 1px solid #ccc;
    backdrop-filter: blur(10px);
}

.crop-text-2 {
    -webkit-line-clamp: 2;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  } */


  /* Import Inter font family */
/* @font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/Poppins/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
} */
