<div class="inline-block text-left" id="containerDropdown">
   <div>
      <button
         type="button"
         class="inline-flex justify-center w-full rounded-md border border-muted shadow-sm px-4 py-2 bg-background text-sm font-medium text-mutedForeground hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-secondary"
         id="menu-button"
         aria-expanded="false"
         aria-haspopup="true"
      >
         Option
         <svg
            class="-mr-1 ml-2 h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
         >
            <path
               fill-rule="evenodd"
               d="M5.23 7.21a.75.75 0 011.06.02l2.47 2.5 2.47-2.5a.75.75 0 011.06 1.06l-3 3.03a.75.75 0 01-1.06 0l-3-3.03a.75.75 0 010-1.06z"
               clip-rule="evenodd"
            />
         </svg>
      </button>
   </div>

   <div
      id="optionsDropdown"
      class="origin-top-right absolute right-0 mt-2 w-40 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none hidden z-10"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
   >
      <div class="p-2 text-mutedForeground flex flex-col" role="none">
         <button
            class="hover:bg-secondary px-4 py-2 text-sm rounded-md text-left"
            role="menuitem"
            tabindex="-1"
            id="menu-item-0"
            onclick="openModal('update-statement-modal-{{ statement.id }}')"
         >
            Update
         </button>
         <button
            class="hover:bg-secondary px-4 py-2 text-sm rounded-md text-left"
            role="menuitem"
            tabindex="-1"
            id="menu-item-1"
         >
            View File
         </button>
         <button
            class="hover:bg-secondary px-4 py-2 text-sm rounded-md text-left disabled:opacity-50"
            role="menuitem"
            tabindex="-1"
            id="menu-item-3"
            {{ 'disabled' if statement.result == None else '' }}
         >
            Download
         </button>      
         <button
            class="hover:bg-secondary px-4 py-2 text-sm rounded-md text-left disabled:opacity-50"
            role="menuitem"
            tabindex="-1"
            id="menu-item-4"
            {{ 'disabled' if statement.result == None else '' }}
         >
            Analyze
         </button>
         <button
            class="hover:bg-secondary px-4 py-2 text-sm rounded-md text-left disabled:opacity-50"
            role="menuitem"
            tabindex="-1"
            id="menu-item-5"
            onclick="openModal('result-delete-modal-{{ statement.id }}')"
            {{ 'disabled' if statement.result == None and statement.ocr == None else '' }} 
         >
            Reset
         </button>
         <button
            class="hover:bg-secondary px-4 py-2 text-sm rounded-md text-left disabled:opacity-50"
            role="menuitem"
            tabindex="-1"
            id="menu-item-5"
            onclick="openModal('statement-delete-modal-{{ statement.id }}')"
            {{ 'disabled' if statement.user_id != user.id else '' }} 
         >
            Remove
         </button>
      
      </div>
   </div>
</div>

{% include 'components/statement/edit-modal.html' %} {% include 'components/statement/delete-modal.html' %}
{% include 'components/statement/reset-modal.html' %}


<script>
   document.addEventListener("DOMContentLoaded", function () {
      const menuButton = document.getElementById("menu-button");
      const optionsDropdown = document.getElementById("optionsDropdown");
      const containerDropdown = document.getElementById("containerDropdown");
      const menuItems = optionsDropdown.querySelectorAll("[role='menuitem']");

      function toggleDropdown() {
         const isExpanded = menuButton.getAttribute("aria-expanded") === "true";
         menuButton.setAttribute("aria-expanded", !isExpanded);
         optionsDropdown.classList.toggle("hidden");
         containerDropdown.classList.toggle("relative");
      }

      function closeDropdown() {
         menuButton.setAttribute("aria-expanded", "false");
         optionsDropdown.classList.add("hidden");
         containerDropdown.classList.remove("relative");
      }

      menuButton.addEventListener("click", toggleDropdown);

      document.addEventListener("click", function (event) {
         if (!menuButton.contains(event.target) && !optionsDropdown.contains(event.target)) {
            closeDropdown();
         }
      });

      document.addEventListener("keydown", function (event) {
         if (event.key === "Escape" && !optionsDropdown.classList.contains("hidden")) {
            closeDropdown();
         }
      });

      menuItems.forEach(function (menuItem) {
         menuItem.addEventListener("click", function () {
            closeDropdown();
         });
      });
   });
</script>
